.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    background-color: #e9ecef;
}
.title{
    justify-content: space-between;
}
.btn{
    margin: 3px;
}
.portfolio .icon-box {
    text-align: center;
    background: rgba(204, 204, 204, 0.31);
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    border-radius: 32px;
}
.portfolio .icon-box .icon {
margin: 0 auto;
width: 64px;
height: 64px;
background: #5562f1;
border-radius: 5px;
transition: all 0.3s ease-out 0s;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
transform-style: preserve-3d;
}
.portfolio .icon-box .icon i {
color: #fff;
font-size: 28px;
}
.portfolio .icon-box .icon::before {
position: absolute;
content: "";
left: -8px;
top: -8px;
height: 100%;
width: 100%;
background: #f299f7d2;
border-radius: 5px;
transition: all 0.3s ease-out 0s;
transform: translateZ(-1px);
}
.portfolio .icon-box h4 {
font-weight: 700;
margin-bottom: 15px;
font-size: 24px;
}
.portfolio .icon-box h4 a {
color: #5562f1;
}
.portfolio .icon-box p {
line-height: 24px;
font-size: 14px;
margin-bottom: 0;
}
.portfolio .icon-box:hover {
background: #5562f1;
border-color: #5562f1;
}
.portfolio .icon-box:hover .icon {
background: #fff;
}
.portfolio .icon-box:hover .icon i {
color: #5562f1;
}
.portfolio .icon-box:hover .icon::before {
background: #3e4df7;
}
.portfolio .icon-box:hover h4 a, .portfolio .icon-box:hover p {
color: #fff;
}