<div class="card mat-card">
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="d-flex title">
                <div>
                    <h3>Mis mejores proyectos</h3>
                </div>
                <div class="d-flex btn">
                    <div type="button" class="btn btn-light"><a href=""><i class="fa fa-plus-square"></i></a></div>
                </div>
            </div>
            <!-- <div class="section-title">
                <h3>Mis mejores proyectos</h3>
            </div> -->
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><a href="https://github.com/JudithGrau/RJCoderHouse" target="_blank"><i class="fa fa-code"></i></a></div>
                        <h4><a href="https://github.com/JudithGrau/RJCoderHouse" target="_blank">Tienda Anime</a></h4>
                        <p>Este es el proyecto final del curso de React (camada 16930) en Coderhouse.
                            ​Tienda Anime es una e-commerce para la venta de Remeras y Buzos estampados con personajes de animé.👕</p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><a href="https://github.com/JudithGrau/JS_TiendaDonas" target="_blank"><i class="fa fa-code"></i></a></div>
                        <h4><a href="https://github.com/JudithGrau/JS_TiendaDonas" target="_blank">I Donas</a></h4>
                        <p>Este es el proyecto final del curso de JavaScript (camada 16780) en Coderhouse.
                            ​I Donas es una e-commerce donde se puede hacer compras en línea de donas. El proceso de compra inicia con un carrito de compras, que se puede modificar y vaciar.🍩</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><a href="https://github.com/JudithGrau/TodoDulceYChocolatoso" target="_blank"><i class="fa fa-code"></i></a></div>
                        <h4><a href="https://github.com/JudithGrau/TodoDulceYChocolatoso" target="_blank">Todo dulce y chocolatoso</a></h4>
                        <p>Este es el proyecto final del curso de Desarrollo Web (camada 15645) en Coderhouse.
                            ​Todo dulce y chocolatoso es una página web estática que muestra los productos elaborados con chocolate 🍫</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


