<div class="card mat-card">
    <div class="row">
        <div class="d-flex title">
            <div class="">
                <h3>Educación</h3>
            </div>
            <div class="d-flex btn">
                <div type="button" class="btn btn-light"><a href=""><i class="fa fa-plus-square"></i></a></div>
            </div>
        </div>
        <div class="col-lg-12">
            <ul class="items-list">
                <li *ngFor="let educacion of educacionList" class="mb-3">
                    <div class="data-container educacion">
                        <a href="#" style="text-decoration:none" class="text-dark d-flex">
                            <div class="logo-image-container">
                                <img
                                    class="logo-image"
                                    [src]="educacion.img" id="logoAP"
                                />
                            </div>
                            <div class="list-info m-2">
                                <div class="carta">
                                    <div class="cr">
                                        <h4 class="mm">{{educacion.title}} </h4> 
                                        <p>(<time>{{educacion.start}}</time> - <time>{{educacion.end}}</time>)</p>
                                    </div>
                                    <h6>{{educacion.school}}</h6>
                                    <ul>
                                        <li>{{educacion.description}}</li> 
                                    </ul>
                                </div>
                                <div class="boton">
                                    <div type="button" class="btn btn-light"><a href=""><i class="fa fa-pencil"></i></a></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <!-- <li class="mb-3">
                    <div class="data-container educacion">
                        <a href="#" style="text-decoration:none" class="text-dark d-flex">
                            <div class="logo-image-container">
                                <img
                                    class="logo-image"
                                    src="../../../assets/img/CoderhouseLogo.png" id="logoAP"
                                />
                            </div>
                            <div class="list-info m-2">
                                <div class="carta">
                                    <div class="cr">
                                        <h4 class="mm">React </h4> 
                                        <p>(<time>julio 2021</time> - <time>septiembre 2021</time>)</p>
                                    </div>
                                    <h6>Coder House</h6>
                                    <ul>
                                        <li>Instalación y configuración del entorno (Creación de la App utilizando el CLI).</li> 
                                        <li>JSX & transpiling & Componentes I (Menú e-commerce).</li>
                                        <li>Componentes II & Promises, Asincronía y Map (Catálogo de productos).</li>
                                        <li>Consumo de APIs & Routing y Navegación (Detalle del producto).</li>
                                        <li>Eventos & Context (CartContext y sincronizar counter)</li>
                                        <li>Técnicas de rendering & Utilizando Firebase (Cart View e Item Collection)</li>
                                        <li>Firebase II (Item Collection II)</li>
                                    </ul>
                                </div>
                                <div class="boton">
                                    <div type="button" class="btn btn-light"><a href=""><i class="fa fa-pencil"></i></a></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="mb-3">
                    <div class="data-container educacion">
                        <a href="#" style="text-decoration:none" class="text-dark d-flex">
                            <div class="logo-image-container">
                                <img
                                    class="logo-image"
                                    src="../../../assets/img/CoderhouseLogo.png" id="logoAP"
                                />
                            </div>
                            <div class="list-info m-2">
                                <div class="carta">
                                    <div class="cr">
                                        <h4 class="mm">JavaScript </h4> 
                                        <p>(<time>mayo 2021</time> - <time>julio 2021</time>)</p>
                                    </div>
                                    <h6>Coder House</h6>
                                    <ul>
                                        <li>En este curso aprendí los fundamentos del lenguaje de programación más usado en la actualidad, con el cual es posible crear aplicaciones de todo tipo.</li> 
                                        <li>Conocí las herramientas propias del mismo, indagando casos prácticos de aplicación.</li> 
                                        <li>Reconocí la utilidad de las librerías estudiando jQuery, y cómo aplicar técnicas de desarrollo para apps modernas con AJAX.</li>  
                                        <li>Al graduarme, estoy en condiciones de crear soluciones web interactivas, y trasladar los conocimientos del curso a cualquier framework JavaScript.</li>
                                    </ul>
                                </div>
                                <div class="boton">
                                    <div type="button" class="btn btn-light"><a href=""><i class="fa fa-pencil"></i></a></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="mb-3">
                    <div class="data-container educacion">
                        <a href="#" style="text-decoration:none" class="text-dark d-flex">
                            <div class="logo-image-container">
                                <img
                                    class="logo-image"
                                    src="../../../assets/img/CoderhouseLogo.png" id="logoAP"
                                />
                            </div>
                            <div class="list-info m-2">
                                <div class="carta">
                                    <div class="cr">
                                        <h4 class="mm">Desarrollo web </h4> 
                                        <p>(<time>febrero 2021</time> - <time>mayo 2021</time>)</p>
                                    </div>
                                    <h6>Coder House</h6>
                                    <ul>
                                        <li>Diseño de prototipos con conocimiento básicos de UX para una web.</li>
                                        <li>Creación y realización del mantenimiento de una página y aplicación web.</li> 
                                        <li>Asesoramiento a un cliente en lo que necesita.</li> 
                                        <li>Optimización de estilos de páginas web.</li> 
                                        <li>Trabajo en equipo, usando un controlador de versiones y manejo de repositorio.</li> 
                                        <li>Manejo de un servidor y configuración del dominio al que debe apuntar.</li> 
                                        <li>Adquisición de conocimientos básicos de SEO y Seguridad Web.</li>
                                    </ul>
                                </div>
                                <div class="boton">
                                    <div type="button" class="btn btn-light"><a href=""><i class="fa fa-pencil"></i></a></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li> -->
                
            </ul>
        </div>
    </div>
</div>
