<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/me.png" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="lead" id="nombre">{{miPorfolio.name}}</p>
        <p>{{miPorfolio.position}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="d-flex hi">
            <div class="title d-flex">
                <div>
                    <h3>Acerca de mí</h3>
                </div>
                <p>{{miPorfolio.about}}</p>
            </div>
            <div class="btn-edit">
                <div type="button" class="btn btn-light"><a href=""><i class="fa fa-pencil"></i></a></div>
            </div>
            
        </div>
        
    </div>
</div>
