<div class="card mat-card">
    <div class="row">
        <div class="d-flex title">
            <div>
                <h3>Experiencia Profesional</h3>
            </div>
            <div class="d-flex btn">
                <div type="button" class="btn btn-light"><a href=""><i class="fa fa-plus-square"></i></a></div>
                <div type="button" class="btn btn-light"><a href=""><i class="fa fa-pencil"></i></a></div>
            </div>
        </div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <div class="experiencia d-flex">
                        <div>
                            <img src="../../../assets/img/BarisLogo.png" id="logoB">
                        </div>
                        <div class="m-2">
                            <h4>Baris Consulting </h4> 
                            <h5>(noviembre 2019 - mayo 2021)</h5>
                            <h6>Desarrolladora Web Full Stack</h6>
                            <ul>
                                <li>Desarrollo Web de un Software Cloud de Gestión Comercial y CRM.</li> 
                                
                            </ul>
                        </div>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
</div>

