<div class="card mat-card">
    <div class="row">
        <h3>Educación</h3>
        <div class="col-lg-11">
            <ul>
                <li>
                    <div class=" logo_educacion d-flex">
                        <div>
                            <img src="../../../assets/logos/APLogo.png" id="logoAP">
                        </div>
                        <div class="m-2">
                            <h4>Desarrollo Web Full Stack </h4> 
                            <h5>(diciembre 2021 - mayo 2022)</h5>
                            <h6>Argentina Programa</h6>
                            <ul>
                                <li>Desarrollo de un Porfolio Web personal. Abarcando el Front End y Back End.</li> 
                                
                            </ul>
                        </div>
                    </div>
                    
                </li>
            </ul>
            <ul>
                <li>
                    <div class=" logo_educacion d-flex">
                        <div>
                            <img src="../../../assets/img/CoderhouseLogo.png" id="logoCH">
                        </div>
                        <div class="m-2">
                            <h4>React </h4> 
                            <h5>(julio 2021 - septiembre 2021)</h5>
                            <h6>Coder House</h6>
                            <ul>
                                <li>Instalación y configuración del entorno (Creación de la App utilizando el CLI).</li> 
                                <li>JSX & transpiling & Componentes I (Menú e-commerce).</li>
                                <li>Componentes II & Promises, Asincronía y Map (Catálogo de productos).</li>
                                <li>Consumo de APIs & Routing y Navegación (Detalle del producto).</li>
                                <li>Eventos & Context (CartContext y sincronizar counter)</li>
                                <li>Técnicas de rendering & Utilizando Firebase (Cart View e Item Collection)</li>
                                <li>Firebase II (Item Collection II)</li>
                            </ul>
                        </div>
                    </div>
                    
                </li>
            </ul>
            <ul>
                <li>
                    <div class=" logo_educacion d-flex">
                        <div>
                            <img src="../../../assets/img/CoderhouseLogo.png" id="logoCH">
                        </div>
                        <div class="m-2">
                            <h4>JavaScript </h4> 
                            <h5>(mayo 2021 - julio 2021)</h5>
                            <h6>Coder House</h6>
                            <ul>
                                <li>En este curso aprendí los fundamentos del lenguaje de programación más usado en la actualidad, con el cual es posible crear aplicaciones de todo tipo.</li> 
                                <li>Conocí las herramientas propias del mismo, indagando casos prácticos de aplicación.</li> 
                                <li>Reconocí la utilidad de las librerías estudiando jQuery, y cómo aplicar técnicas de desarrollo para apps modernas con AJAX.</li>  
                                <li>Al graduarme, estoy en condiciones de crear soluciones web interactivas, y trasladar los conocimientos del curso a cualquier framework JavaScript.</li>
                            </ul>
                        </div>
                    </div>
                    
                </li>
            </ul>
            <ul>
                <li>
                    <div class=" logo_educacion d-flex">
                        <div>
                            <img src="../../../assets/img/CoderhouseLogo.png" id="logoCH">
                        </div>
                        <div class="m-2">
                            <h4>Desarrollo web </h4> 
                            <h5>(febrero 2021 - mayo 2021)</h5>
                            <h6>Coder House</h6>
                            <ul>
                                <li>Diseño de prototipos con conocimiento básicos de UX para una web.</li>
                                <li>Creación y realización del mantenimiento de una página y aplicación web.</li> 
                                <li>Asesoramiento a un cliente en lo que necesita.</li> 
                                <li>Optimización de estilos de páginas web.</li> 
                                <li>Trabajo en equipo, usando un controlador de versiones y manejo de repositorio.</li> 
                                <li>Manejo de un servidor y configuración del dominio al que debe apuntar.</li> 
                                <li>Adquisición de conocimientos básicos de SEO y Seguridad Web.</li> 
                            </ul>
                        </div>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
</div>
