.row{
    padding: 20px;
}
div{
    background-color: #e9ecef;
}
h4, h5{
    display: inline;
}
.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
}
.title{
    justify-content: space-between;
}
.btn{
    margin: 3px;
}
ul{
    list-style: none;
}
#logoAP{
    width: 100px;
    background-color: hsl(206deg 100% 73%);
}
#logoCH{
    width: 85px;
}
.logo_educacion{
    justify-content: flex-start;
    /* align-items: center; */
}
@media (max-width: 575px){
    .educacion{
        flex-direction: column;
    }
}

